<div class="container">
  <div class="columns is-multiline">
    <div class="column is-6 is-offset-3">
      <div class="datepicker-container">
        model value: {{ date }}
      </div>
    </div>
    <div class="column is-6 is-offset-3">
      <div class="datepicker-container">
      </div>
      <ng-32datepicker [(ngModel)]="date"  (fNextMonth)="abc($event)" (fBackMonth)="queryBeforeMonth($event)" 
      [options]="options" [markDays]="markDays"></ng-32datepicker>
    </div>
  </div>
</div>
